{% load i18n %}{% autoscape off %}
{% blocktranslate %}
Your're receiving this email because you requested a password reset for your user account at {{ site_name }}.
{% endblocktranslate %}

{% translate "Please click the following link and choose a new password: %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% end block %}
{% translate 'Your username:' %} {{ user.get_username }}

{% translate "Thanks for using out site!" %}

{% blocktranslate %}The {{ site_name }} team{% endblocktranslate %}

{% endautoscape %}